<div layout="vertical" layout-fill>

  <md-content>
    <header>
      <acme-navbar></acme-navbar>
    </header>

    <section class="" align="center">
      <div>
        <h1>Life-Style</h1>
        <p class="lead">
          <img src="" alt=""><br>
          Were you very busy, ill or <br/>stressed in the last <br/>7 to 10 days? <i class="material-icons">info_outline</i>
        <br/>
        <br/>
        <br/>
      </div>
        <div flex layout="column" layout-sm="column" layout-align="center center">
        <md-button href="#/GeneralHealth" class="md-raised md-primary" ng-click="">Very</md-button>
        <md-button href="#/GeneralHealth" class="md-raised md-primary" ng-click="">Moderately</md-button>
        <md-button href="" class="md-raised md-primary" ng-click="">Not at all</md-button>
      </div>
    </section>