<div layout="vertical" layout-fill>

  <md-content>
    <header>
      <acme-navbar></acme-navbar>
    </header>

    <section class="" align="center">
      <div>
        <h1>Menstruation</h1>
        <p class="lead">
          <img src="" alt=""><br>
          Did you notice an unusual colour in the blood?
        </p>
      </div>
        <div flex layout="column" layout-sm="column" layout-align="center center">
        <md-button href="#/MensesSymptoms" class="md-raised md-primary" ng-click="">Yes; Brown</md-button>
        <md-button href="#/MensesSymptoms" class="md-raised md-primary" ng-click="">Yes; Pink</md-button>
        <md-button href="#/MensesSymptoms" class="md-raised md-primary" ng-click="">No</md-button>
      </div>
    </section>