<div layout="vertical" layout-fill>

  <md-content>
    <header>
      <acme-navbar></acme-navbar>
    </header>

    <section class="" align="center">
      <div>
        <h1>Intercourse</h1>
        <p class="lead">
          <img src="" alt=""><br>
          Which best describes this <br/>intercourse?
        </p>
      </div>
        <div flex layout="column" layout-sm="column" layout-align="center center">
        <md-button href="" class="md-raised md-primary" ng-click="">Normal</md-button>
        <md-button href="#/ReminderCondom" class="md-raised md-primary" ng-click="">Condom</md-button>
        <md-button href="#/ReminderWithdrawal" class="md-raised md-primary" ng-click="">Withdrawal</md-button>
        <md-button href="#/ReminderUnsuccessful" class="md-raised md-primary" ng-click="">Unsuccessful</md-button>
      </div>
    </section>