<div layout="vertical" layout-fill>

  <md-content>
    <header>
      <acme-navbar></acme-navbar>
    </header>

    <section class="" align="center">
      <div>
        <h1>Intentions</h1>
        <p class="lead">
          <img src="" alt=""><br>
         Please select which of the following is relevent to you,
        <br/>
        <br/>
        <br/>
        I want to...
      </div>
        <div flex layout="column" layout-sm="column" layout-align="center center">
        <md-button href="#/IntentionsStrength" class="md-raised md-primary" ng-click="" width= >Get Pregnant</md-button>
        <md-button href="#/IntentionsStrength" class="md-raised md-primary" ng-click="">Avoid Pregnancy</md-button>
        <md-button href="#/Pregnancy" class="md-raised md-primary" ng-click="">Monitor my heatlh</md-button>
      </div>
    </section>