<div layout="vertical" layout-fill>

  <md-content>
    <header>
      <acme-navbar></acme-navbar>
    </header>

    <section class="" align="center">
      <div>
        <h1>Menstruation</h1>
        <p class="lead">
          <img src="" alt=""><br>
          Please describe your flow for this observation . . .
        </p>
      </div>
        <div flex layout="column" layout-sm="column" layout-align="center center">
        <md-button href="#/Menstruation2" class="md-raised md-primary" ng-click="">Heavy</md-button>
        <md-button href="#/Menstruation2" class="md-raised md-primary" ng-click="">Moderate</md-button>
        <md-button href="#/Visual1" class="md-raised md-primary" ng-click="">Light</md-button>
        <md-button href="#/Visual1" class="md-raised md-primary" ng-click="">Very Light</md-button>
        <md-button href="#/Visual1" class="md-raised md-primary" ng-click="">No Bleed</md-button>
      </div>
    </section>