<div layout="vertical" layout-fill>

  <md-content>
    <header>
      <acme-navbar></acme-navbar>
    </header>

    <section class="" align="center">
      <div>
        <h1>Menstruation</h1>
        <p class="lead">
          <img src="" alt=""><br>
          The first step in the process is to <br/>determine if there was any <br/>bleeding . . . 
        </p>
      </div>
      <div>
        <video controls>
          <source ng-src="http://coub.com/view/3g0tv">
        </video>
      </div>
      <div>
        <md-checkbox md-no-ink ng-model="main.cb5" aria-label="Don't show this video again" class="md-primary">
          Don't show this video again
        </md-checkbox>
      </div>
      <div flex layout="column" layout-sm="column" layout-align="center center">
        <md-button href="#/MensesFlow" class="md-raised md-primary" ng-click="">Ok, I got it!</md-button>
      </div>
    </section>