<div layout="vertical" layout-fill>

  <md-content>
    <header>
      <acme-navbar></acme-navbar>
    </header>

    <section class="" align="center">
      <div>
      <h1>Visual</h1>
        <p class="lead">
          <img src="" alt=""><br>
          Please indicate how many centimeters the mucus stretched:
        </p>
        </div>
        <div>
          Stretch (Cm)
          <md-slider flex class="md-primary" md-discrete ng-model="rating3" step="1" min="1" max="10" aria-label="stretch-rating">
          </md-slider>
        </div>
        <div flex layout-sm="column" layout-align="center center">
        <md-button href="#/Visual4" class="md-raised md-primary" ng-click="">Continue</md-button>
      </div>
    </section>