<div layout="vertical" layout-fill>

  <md-content>
    <header>
      <acme-navbar></acme-navbar>
    </header>

    <section class="" align="center">
      <div>
        <h1>Visual</h1>
        <p class="lead">
          <img src="" alt=""><br>
          Was your mucus flow different than usual? &nbsp <i class="material-icons"> info_outline</i>
        </p>
        <br/>
        <br/>
        <br/>
        </div>
        <div flex layout="row" layout-sm="row" layout-align="center center">
        <md-button href="#/Visual5"class="md-raised md-primary" ng-click="">Yes</md-button>
        <md-button href="#/Visual5"class="md-raised md-primary" ng-click="">No</md-button>
      </div>
    </section>