<div layout="vertical" layout-fill>

  <md-content>
    <header>
      <acme-navbar></acme-navbar>
    </header>

    <section class="" align="center">
      <div>
        <h1>Infertility</h1>
        <p class="lead">
          Please give some details about your fertility:
        </p>
        <br/>
        <p>
          How long have you been having regular <br/> intercourse without contraceptives:
        </p>
      </div>
      <div layout="column" layout-sm="column" align="center" flex>
        <span layout="row" layout-sm="row">
          <div layout="column" layout-sm="column">
            <i class="material-icons" ng-click="plusOne()">arrow_drop_up</i>
            {{main.infYear}}
            <i class="material-icons" ng-click="minusOne()">arrow_drop_down</i> 
            <br/>Years 
          </div>
          &nbsp &nbsp
          <div layout="column" layout-sm="column">
            <i class="material-icons" ng-click="plusOne()">arrow_drop_up</i>
            {{main.infMonth}}
            <i class="material-icons" ng-click="minusOne()">arrow_drop_down</i>
            <br/>Months  
          </div>
        </span>
      </div>
      <br/>
      <div flex layout-sm="column" layout-align="center center">
        <md-button href="#/Treatment" class="md-raised md-primary" ng-click="">Continue</md-button>
      </div>
    </section>