<div layout="vertical" layout-fill>

  <md-content>
    <header>
      <acme-navbar></acme-navbar>
    </header>

    <section class="" align="center">
      <div>
        <h1>Let's Go!</h1>
        <p class="lead">
          Ok great, now you are ready to <br/>chart for the first time.
        </p>
        <br/>
        <p>
          The following video will guide<br/>you through the process..
        </p>
        <p>
        </p>
      </div> 
      <br/>
      <div flex layout-sm="column" layout-align="center center">
        <md-button href="#/MensesVid" class="md-raised md-primary" ng-click="">Continue</md-button>
      </div>
    </section>


